body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* the margin property controls the space outside an element. */
    padding: 0;
    /* the padding property controls the space inside an element */
    background-color: rgb(0, 0, 0);
  }
  
  header {
    background-color: rgb(13, 14, 13);
    color: rgb(160, 147, 147);
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 50px;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav a {
    color: rgb(221, 67, 67);
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
  }
 
  h2 {
    font-size: 35px;
  }
   
  main div {
    background-color: rgb(0, 0, 0);
    color: rgb(191, 184, 184);
    margin-bottom: 40px;
    text-align: center;
    padding: 0px;
  }
  
  img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
  }
  
  h2 {
    font-size: 35px;
    padding: 0px;
  }

  main div table {
    border-collapse: collapse;
    width: 100%;
  }
  
  main div table th,
  main div table td {
    border: 2px solid rgb(6, 6, 6);
    padding: 10px;
    text-align: left;
  }
  
  main div table th {
    background-color: rgb(41, 36, 36);
    color: rgb(252, 248, 248);
  }

  h2 {
    font-size: 35px;
    padding: 0px;
  }

  main div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  main div li {
  background-color: rgb(41, 36, 36);
  color: rgb(252, 248, 248);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  font-size: 35px;
  padding: 0px;
}
  
  main div form input[type="text"],
  main div form input[type="email"],
  main div form textarea {
    border: 1px solid rgb(12, 12, 12);
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
  }
  
  main div form input[type="submit"] {
    background-color: rgb(41, 36, 36);
    color: rgb(252, 248, 248);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
  }

  h2 {
    font-size: 35px;
    padding: 0px;
  }
  
  #cv img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: rgb(24, 22, 22);
    color: rgb(252, 248, 248);
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: rgb(252, 248, 248);
  }